///////////////////////////////////////////////
/// PAGE: SPLASH SCREEN ///
///////////////////////////////////////////////

.splash-screen-main{
    position: relative;
    min-height: 100vh;
    background-color: #fff;
    z-index: 1;
    .splash-screen-inner{
        max-width: 500px;
        width: 100%;
        margin: auto; 
    }
    .splash-screen-header{
        text-align: center;
        padding: 75px 0 40px;
        background-color: #F9F0EF;
        position: relative;
        .logo-block{
            margin-bottom: 20px;
            display: inline-block;
            img{
                vertical-align: middle;
                width: 131px;
            }
        }
        .banner-image{
            padding-bottom: 50px;
        }
        .banner-text{
            font-size: 20px;
            font-family: $title-font-semi;
        }
    }
    .slick-dots{
        position: absolute;
        left: 0;
        bottom: -120px;
        width: 100%;
        li{
            display: inline-block;
            vertical-align: middle;
            &.slick-active,
            &:hover{
                button{
                    border-color: $primary-color;
                    background-color: $primary-color;
                }
            }
        }
        button{
            background-color: transparent;
            padding: 0;
            margin: 0;
            height: 11px;
            width: 11px;
            border: 1px solid #C9C9C9;
            background-color: #fff;
            margin: 0 5px;
            font-size: 0;
            @include border-radius(50%);
        }
    }
    .splash-screen-content{ 
        padding: 100px 40px 35px;
        text-align: center;
        .para-block{
            font-size: 14px;
            font-family: $title-font;
            color: $sub-font-color;
            margin-bottom: 40px;
            font-weight: normal;
        }
        .set-location-btn{
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            font-size: 16px;
            width: 100%;
            font-family: $title-font-semi;
            font-weight: normal;
        }
        .alter-auth{
            text-align: center;
            padding-top: 35px;
            .text-link{
                display: inline-block;
                vertical-align: middle;
                color: $primary-color;
                font-size: 12px;
                font-weight: 500;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                    color: $title-font-color;
                }
            }
            .seperator-text{
                display: inline-block;
                vertical-align: middle; 
                font-size: 12px;
                margin: 0 8px;
                color: $sub-font-color;
            }
        }
    }
    
    ///MEDIA QUERIES  
    @include min-sm{  
        background-color: #F9F0EF;
        padding: 120px 0;
        .splash-screen-inner,
        .splash-screen-header{
            background-color: #fff; 
        }
        .splash-screen-header{
            padding: 120px 60px 30px;
            .logo-block{
                display: none;
            } 
        }
        .slick-dots{ 
            bottom: -50px; 
        }
        .splash-screen-content{ 
            padding: 40px 40px 70px; 
            .set-location-btn{
                max-width: 300px;
                margin: auto;
            }
            .alter-auth{
                display: none;
            }
        }
    }
}